.wrapper
  .chat-side
    = render "devise/shared/side_bar"
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          test
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member test
      =link_to style: "text-decoration: none;" do
        .main-header__edit-btn Edit
    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker
            test
          %p.message__upper-info__date
            2019/03/21
        %p.message__text
          test
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .input-box
          = f.label :image, class: 'input-box__image' do
            = fa_icon 'image'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit-btn'
